*{
    margin: 0;
    padding: 0;
}

.img1P{
    width: 60%;
}
.perro-cover{
    background-image: url('../../assets/fondo2.png');
    backdrop-filter: blur(0px);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
}

.carousel .slide{

    text-align: left !important;

}

.carousel .slide .legend {
    
  background-color: transparent !important;  
  flex: none;
  opacity: 1 !important;
  text-align: left !important;
}

.margin-0-auto{
    margin: 0 auto;
}

.historiaa{
    line-height: 1.5rem;
}